ICMP messages common to both ICMPv4 and ICMPv6 include:
- Host confirmation
- Destination or Service Unreachable
- Time exceeded
- Route redirection

These are some of the Destination Unreachable codes for ICMPv4:
- **0** - Net unreachable
- **1** - Host unreachable
- **2** - Protocol unreachable
- **3** - Port unreachable

ICMPv6 includes four new protocols as part of the Neighbor Discovery Protocol (ND or NDP).
Messaging between an IPv6 router and an IPv6 device:
- Router Solicitation (RS) message
- Router Advertisement (RA) message
Messaging between IPv6 devices:
- Neighbor Solicitation (NS) message
- Neighbor Advertisement (NA) message

ICMP uses message codes to differentiate between different types of ICMP messages. These are some common message codes:
- **0** - Echo reply (response to a ping)
- **3** - Destination Unreachable
- **5** - Redirect (use another route to your destination)
- **8** - Echo request (for ping)
- **11** - Time Exceeded (TTL became 0)

























































































































































































